section {
  background-image: url("../../../assets/doctor-g143d9ddc3_1920.jpg");
  background-size: cover;
  opacity: 1.5;
}

img {
  width: 60%;
}

.card {
  position: absolute;
  z-index: 10;
  width: 80%;
  margin-top: 2rem;
}

.register {
  width: 30rem;
  height: 30rem;
  border-radius: 30px;
  border-color: #6f67fb;
  /* background-color: #6e67fb09; */
  background-color: #eff3f5;
}

.register:hover {
  transform: scale(1.05);
  border-width: medium;
  /* border-color: rgb(37, 167, 11); */
  background-color: #0dbb9d;
}

/* Input type FILE */
.custom-file-button input[type="file"] {
  margin-left: -2px;
  padding: 1rem;
}

.custom-file-button input[type="file"]::-webkit-file-upload-button {
  display: none !important;
}

.custom-file-button input[type="file"]::file-selector-button {
  display: none !important;
}

.custom-file-button:hover label {
  background-color: #dde0e3;
  cursor: pointer;
}

.volver {
  margin-top: -3.5rem;
  padding-right: 2rem;
}

.btn-block {
  width: -webkit-fill-available !important;
}

.show-pass {
  position: absolute;
  margin-top: -2.7rem;
  margin-left: 28rem;
  font-size: 1.5rem;
}

.btn-especialidad {
  height: 38px !important;
}

@media (max-width: 1400px) {
  .show-pass {
    position: absolute;
    margin-top: -2.7rem;
    margin-left: 26rem;
  }
}

@media (max-width: 1200px) {
  .show-pass {
    position: absolute;
    margin-top: -2.7rem;
    margin-left: 20rem;
  }
}

@media (max-width: 992px) {
  .show-pass {
    position: absolute;
    margin-top: -2.7rem;
    margin-left: 13rem;
  }
}

@media (max-width: 767px) {
  .show-pass {
    position: absolute;
    margin-top: -2.7rem;
    margin-left: 23rem;
  }
}

.cascading-right {
  margin-right: -50px;
}

@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}
