<div class="container py-4">

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid">
      <app-tabla-turnos [usuarioMostrar]="usurioLogueadoInput" [tipoUsuario]="'paciente'" (seSeleccionoTurno)="mostrar($event)"></app-tabla-turnos>
    </div>
  </div>

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid">
      <app-detalle-turno [usuarioSeleccionado]="usurioLogueadoInput" [turnoSeleccionado]="turnoSeleccionado"></app-detalle-turno>
    </div>
  </div>

</div>

