.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-left: 10%;
  display: flex;
  /* justify-content: start; */
  align-items: center;
  background: url(../../../assets/woman-geb2cd67e5_1920.jpg);
  background-size: cover;
  z-index: 9999;
}

.banner .contenido {
  max-width: 900px !important;
  /* text-align: center ; */
}

.banner .contenido h2 {
  font-size: 5rem;
  color: #fff;
}

.banner .contenido p {
  font-size: 1rem;
  color: #fff;
}

.btn {
  font-size: 1rem;
  color: #fff;
  background: #0dbb9d;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}

.btn:hover {
  letter-spacing: 6px;
  background: rgb(37, 169, 209);
}

.registro {
  margin-left: 20px;
}
/* fin bloque home */
