
  <div class="container">
    <div class="card tablaUsuarios py-4 shadow-lg p-3 mb-5 bg-body rounded-4 d-flex">
      <app-tabla-usuarios [inputUsuarioSeleccionado]="tipoUsuarios"></app-tabla-usuarios>
        <button class="btn btn-primary btn-md" (click)="cambiarTabla('paciente')" type="button">Ver
            Pacientes</button>
        <button class="btn btn-primary btn-md" (click)="cambiarTabla('especialista')" type="button">Ver
          Especialistas</button>
        <button class="btn btn-primary btn-md" (click)="cambiarTabla('admin')" type="button">Ver
          Administradores</button>
    </div>
  </div>

