.row{
  text-align: center;
}

.slide-right {
  animation-duration: 1s ;
  animation-name: slidein ;
}

@keyframes slidein {
  from {
    margin-left: 100rem;
    width: 300%
  }

  to {
    margin-left: 0rem;
    width: 100%;
  }
}
