.row {
  text-align: center;
}

.slide-right {
  -webkit-animation: slide-right 1.5s both;
  animation: slide-right 1.5s both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
