.pacienteBtn:hover{
  transform: scale(1.2);
}

.fastButton {
  width: 6rem;
  height: 6rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lupa{
  position: absolute;
  margin-top: -32px;
  margin-left: -32px;
  font-size: 1.2rem;
}
