.log-container {
  height: 90%;
  text-align: center;
}

.btn-log {
  margin-top: 50%;
}

button {
  background-color: rgb(13, 187, 157) !important;
  color: black;
}

button:hover {
  background-color: rgb(233 196 106) !important ;
  color: #fff;
}
