section{
  /* background-color: #f9f9f9; */
  background-image: url('../../../assets/doctor-g143d9ddc3_1920.jpg');
  background-size: cover;
  opacity: 1.5;
}
img{
  width: 80%;
}

.card{
  position: relative;
  z-index: 10;
  background-color: #eff3f5ed !important;
  /* opacity: 0.95; */
}

.btn-block{
  width: -webkit-fill-available !important;
}

.show-pass{
  position: absolute;
  margin-top: -2.7rem;
  margin-left: 28rem;
  font-size: 1.5rem;
}

/* Accesos rápidos */
.accesos-rapidos{
  /* position: absolute;
  margin-left: -85%; */
  width: 90%;
  text-align: center;
}

.fastAccessButton {
  width: 6rem;
  height: 6rem;
  /* border-radius: 150px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1400px) {
  .show-pass {
    position: absolute;
    margin-top: -2.7rem;
    margin-left: 26rem;
  }
}

@media (max-width: 1200px) {
  .show-pass {
    position: absolute;
    margin-top: -2.7rem;
    margin-left: 20rem;
  }
}

@media (max-width: 992px) {
  .show-pass {
    position: absolute;
    margin-top: -2.7rem;
    margin-left: 13rem;
  }
}

@media (max-width: 767px) {
  .show-pass {
    position: absolute;
    margin-top: -2.7rem;
    margin-left: 23rem;
  }
}

.slide-right {
  animation-duration: 1s ;
  animation-name: slidein ;
}

@keyframes slidein {
  from {
    margin-left: 100rem;
    width: 300%
  }

  to {
    margin-left: 0rem;
    width: 100%;
  }
}
