<div class="container">
  <div>
      <div class="row mb-3">

          <div class="col-md-12" style="width: 100%;" id="htmlData">
            <div class="row d-flex justify-content-between align-items-end mb-1">

              <div class="col-7">
                <img src='../../../assets/hospital.png' style="width: 20%;" class="mb-3">
              </div>
              <div class="col-5 text-end">
                <p>Fecha: <span>{{hoy | date:"dd/MM/yyyy"}}</span></p>
              </div>

            </div>
              <br>
              <h3>Historias Clínicas de {{pacienteElegido.nombre}} {{pacienteElegido.apellido}}</h3>


              <table class="table">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Altura</th>
                    <th>Peso</th>
                    <th>Temperatura</th>
                    <th>Presión</th>
                    <th>Dato 1</th>
                    <th>Valor</th>
                    <th>Dato 2</th>
                    <th>Valor</th>
                    <th>Dato 3</th>
                    <th>Valor</th>

                  </tr>
                </thead>
                  <tr *ngFor="let historia of listaHistoriasPaciente">

                      <td>{{historia.fecha | date:"dd/MM/yyyy H:mm"}}</td>
                      <td>{{historia.altura}}</td>
                      <td>{{historia.peso}}</td>
                      <td>{{historia.temperatura}}</td>
                      <td>{{historia.presion}}</td>
                      <td>{{historia.clave1}}</td>
                      <td>{{historia.valor1}}</td>
                      <td>{{historia.clave2}}</td>
                      <td>{{historia.valor2}}</td>
                      <td>{{historia.clave3}}</td>
                      <td>{{historia.valor3}}</td>

                  </tr>
              </table>
          </div>
      </div>

      <div>
          <div class="text-right ">
              <button class="btn btn-success btn-block" (click)="openPDF()">Descargar PDF</button>
          </div>
      </div>
  </div>
</div>
