@import '~ngx-toastr/toastr';

/* You can add global styles to this file, and also import other style files */
h1, h2, h3, h4, h5{
  font-family: 'Archivo Black', sans-serif;
}

body{
  font-family: 'Archivo', sans-serif;
  --navbar-scroll: transparent;
  --navbar-scroll-text: white;
  --navbar-scroll-shadow: none;
}

.card{
  background-color: #eff3f5!important;
}

a{
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
