


<div class="row d-flex justify-content-arround align-items-center">
  <div class="col col-md-8">
    <h1 class="display-5 fw-bold">Mis turnos</h1>
  </div>
  <div class="col col-md-4 text-end">
    <input class="form-control" type="text" placeholder="Buscar por especialidad o profesional..." [(ngModel)]="filter" *ngIf="tipoUsuario=='paciente'">
    <input class="form-control" type="text" placeholder="Buscar por especialidad o paciente..." [(ngModel)]="filter" *ngIf="tipoUsuario=='especialista'">
    <span class="lupa"><i class="bi bi-search"></i></span>
  </div>
</div>

<!-- Tabla turnos paciente -->
<table class="table table-striped table-hover" *ngIf="tipoUsuario=='paciente'">
  <thead>
    <tr>
      <th scope="col">Especialidad</th>
      <th scope="col">Profesional</th>
      <th scope="col">Fecha</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let turno of listadoTurnosPaciente | filtroMisturnosPaciente:filter" (click)="SeleccionarTurno(turno)">
      <th scope="row">{{turno.especialidad}}</th>
      <td>{{turno.datosEspecialista.nombre}} {{turno.datosEspecialista.apellido}}</td>
      <td>{{turno.fecha}}</td>
      <td><span [ngStyle]="styleObject(turno)">{{turno.estado}}</span></td>
    </tr>
  </tbody>
</table>

<!-- Tabla turnos ESPEALISTA -->
<table class="table table-striped table-hover" *ngIf="tipoUsuario=='especialista'">
  <thead>
    <tr>
      <th scope="col">Especialidad</th>
      <th scope="col">Paciente</th>
      <th scope="col">Fecha</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let turno of listadoTurnosEspecialista | filtroMisturnosEspecialista:filter" (click)="SeleccionarTurno(turno)">
      <th scope="row">{{turno.especialidad}}</th>
      <td>{{turno.datosPaciente.nombre}} {{turno.datosPaciente.apellido}}</td>
      <td>{{turno.fecha}}</td>
      <td><span [ngStyle]="styleObject(turno)">{{turno.estado}}</span></td>
    </tr>
  </tbody>
</table>

